
{% block body %}
<div class="grid-25">
    {% if user.profile.avatar %}
    <img class="circle--primary--avatar .button" src="{{ user.profile.avatar.url }}">
    {% endif %}
</div>

<div class="grid-75">
    <h1>Profile Summary for {{ user.username }}</h1>
</div>

<div class="grid-75">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p><td>{{ user.profile.first_name }}</td> <td> {{ user.profile.last_name }}</td> </p>
        <p></p>
        <p>{{ user.profile.email }}</p>
        <p>{{ user.profile.date_of_birth|default_if_none:"" }}</p>
        <p>{{ user.profile.bio }}</p>

        </hr>

    </form>

</div>

{% endblock %}

